
<table>
    <tr>
      <td>學號</td>
      <td>班級</td>
      <td>姓名</td>
      <td>手機</td>
      <td>預約時間</td>
      <td>功能</td>
    </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.sid %></td>
      <td><%= order.sclass %></td>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.odatetime.to_s(:for_order) %></td>
      <td><%= link_to '刪除', order, :confirm => '確定嘛？', :method => :delete %></td>
    </tr>
  <% end %>
</table>
