<%= stylesheet_link_tag 'datePicker' %>
<%= javascript_include_tag 'date' %>
<%= javascript_include_tag 'jquery.datePicker-2.1.2.js' %>
<% javascript_tag do %> 
  $.dpText = {
  TEXT_CHOOSE_DATE : '選擇日期'
  };
  $(function() {
    $('#odate').datePicker({startDate : (new Date()).asString()});
    $('form').submit(function() {
      var t = $('#otime_h').val() + ':' + $('#otime_m').val();
      $('#order_odatetime').val($('#odate').val() + ' ' + t);
    });

  });
<% end %>


<% form_for @order do |f| %>
  <p>
  <%= f.label :sid, '學號' %>
  <%= f.text_field :sid %>
  </p>
  <p>
  <%= f.label :sclass, '班級' %>
  <%= f.text_field :sclass %>
  </p>
  <p>
  <%= f.label :name, '姓名' %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :phone, '手機' %>
  <%= f.text_field :phone %>
  </p>
  <p>
  <label for="odate">預約日期</label>
  <%= text_field_tag :odate %>
  </p>
  <p>
  <label for="otime_h">預約時間</label>
  <select id="otime_h">
    <% (0..23).each do |i| %>
      <%= %(<option value="#{i}">#{sprintf("%02d", i)}</option>) %>
    <% end %>
  </select>
  :
  <select id="otime_m">
    <option value="0">00</option>
    <option value="30">30</option>
  </select>
  </p>
  <%= f.hidden_field :odatetime %>
  <%= f.submit '預約' %>
<% end %>

