<script type="text/javascript">
  $(function() {
      $('p.notice').delay(5000).fadeOut();
      $("form textarea").ckeditor(function() {
        // nothing
        }, 
        { toolbar: [['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink','-', 'Image', '-', 'About']] }
        );
      });
</script>

<% form_for(@post, :url => {:action => 'update', :post_type => @post.post_type}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', post_path(:id => @post, :post_type => @post.post_type) %> |

<% unless params[:post_type] == 'related' %>
  <%= link_to 'Back', posts_path %>
<% end %>


